<div>
  <h2>PAGE EVIL COOKIE:</h2>
  <div class="main-item">
    <div class="item">Name</div>
    <div class="item">{{userPageInfo?.first_name}}</div>
    <div class="item">LastName</div>
    <div class="item">{{userPageInfo?.last_name}}</div>
    <div class="item">Phone</div>
    <div class="item">{{userPageInfo?.phone}}</div>
    <div class="item">E-mail</div>
    <div class="item">{{userPageInfo?.email}}</div>
    <div class="item">Age</div>
    <div class="item">{{userPageInfo?.age}}</div>
  </div>
</div>
