<app-pec-modal id="pec-modalEdit">
  <div>
    <form action="" *ngFor="let userito of userListForEdit">
      <label for="name">FirstName</label>
      <input type="text" id="name" [(ngModel)]="userito.first_name" name="first"/>
      <label for="lastName">LastName</label>
      <input type="text" id="lastName" [(ngModel)]="userito.last_name" name="last"/>
      <label for="phone">Phone</label>
      <input type="text" id="phone" [(ngModel)]="userito.phone" name="phone"/>
      <label for="email">E-mail</label>
      <input type="text" id="email" [(ngModel)]="userito.email" name="email"/>
      <label for="age">Age</label>
      <input type="data" id="age" [(ngModel)]="userito.age" name="age"/>
      <div class="subbtn">
        <button class="registrationbtn" (click)="editUserSub(userito, $event.target.value)">Добавить</button>
        <button class="registrationbtn" (click)="closeModal('pec-modalEdit')">cancel</button>
      </div>
    </form>
  </div>
</app-pec-modal>
